//Esquemas de color
$white: #fff;
$light-white: #f2f4f5;
$grey: grey;
$coral: coral;

$steel: steelblue;
//Tipografia
 $robo-mono: 'Roboto Mono', monospace;;

 //Font weight
 $bold: 700;
 $regular: 400;

 //Font size
$x-large: 24px;
$medium:20px;
$small: 13px;


