

.main__list {
    .item img {
        width: 100%;
        height: auto;
    }

    &__title {
        padding-bottom: .5rem;
    }

    &__paragraph {
        font-size: $small;
        padding-bottom: .5rem;
    }
}

.tags h2 {
    padding-bottom: .5rem;
}
.tags ul{
    list-style: none;
    text-align: right;

    li {
        display: inline-block;
        font-size: $small;
        background-color: $steel;
        color: $white;
        padding: 2px 5px;
        margin-bottom: 1rem;
    }
}


.featured {

    &__title {
        padding-bottom: 1rem;
    }

    &__item h4 {
        padding-bottom: 1rem;
        font-size: .8rem;
    }

    &__item img {
        width: 100%;
        height: auto;
        padding-bottom: 1rem;
    }
}

@media (min-width: 320px) {
   .main__list {
       display: none;
   } 
}

@media (min-width: 992px) {
    .main__list {
        display: inline-block;
    } 

    .tags ul  {
        text-align: center;
    }
 }

 @media (min-width: 1200px){
    .tags ul  {
        text-align: right;
    }
 }